<!DOCTYPE html>
<html>
<head>
	<title>Leonardo's Wiki</title>
	<link rel="stylesheet" href="/styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="header" >
			{% if user %}
		    <div class="options"><a href="/logout">Logout({{user}})</a></div>
		   	{% else %}
			<div class="options"><a href="/login">Log In</a>|<a href="/signup">Sign Up</a></div></div>
    		{% endif %}
	<div class="page_title">Leonardo's Wiki</div>
	</header>
	<br>
	<section class="main">
		<h2>Page History</h2>
		<form>
			{% if versions %}
				<tr>
					<td class="history_td">Created</td>
					<td class="history_td">Content</td>
					<td class="history_td">Version</td>
					<td class="history_td">Options</td>
				</tr>
				<br>
				{% for page in versions %}
				<tr>
					<td class="history_td">{{page.created}}</td>
					<td class="history_td">{{page.content}}</td>
					<td class="history_td">V{{page.version}}</td>
					<td class="history_td"><a href={{page.url}}?v={{page.version}}>View</a>|<a href=/_edit{{page.url}}?v={{page.version}}>Edit</a></td>
				</tr>
				<br>
				{% endfor %}
			{% endif %}
		<form>
	</section>
	<br>
	<footer>
	<div class="footer">This Page Was Design By Leonardo Abreu</div>	
	</footer>
</body>
</html>