<!DOCTYPE html>
<html>
<head>
	<title>Leonardo's Wiki</title>
	<link rel="stylesheet" href="/styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="header" >
			{% if user %}
		    <div class="options"><a href="/logout">Logout({{user}})</a></div>
		   	{% else %}
			<div class="options"><a href="/login">Log In</a>|<a href="/signup">Sign Up</a></div></div>
    		{% endif %}
	<div class="page_title">Leonardo's Wiki</div>
	</header>
	<br>
	<section class="main">
		<p>
			{% if versions %}
				{% for page in versions %}
				<p> {{page.created}} {{page.content}}<a href="/"></a></p>
				{% endfor %}
			{% endif %}
		</p>
	</section>
	<br>
	<footer>
	<div class="footer">This Page Was Design By Leonardo Abreu</div>	
	</footer>
</body>
</html>