<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link type="text/css" rel="stylesheet" href="/views/styles/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="header">
		<div class="options"><a href="/login">Log In</a>|<a href="/signup">Sign Up</a></div>
		<div class="page_title">Leonardo's Wiki</div>
	</header>
	<br>
	<section class="main">
		<form  class="form" method="post">
			<div>
			<br>
				<span class="form_text text">Username:</span>
				<input type="text" name ="username" value ={{username}}>
				<div class="error">{{u_error}}</div>
				<br>
			</div>
			<div>
				<span class="form_text text">Password:</span>
				<input type="password" name ="password" value={{password}}>
				<div class="error">{{p1_error}}</div>
				<br>
			</div>
				<br>
				<input class="button" type="submit">
		</form>
	</section>
	<br>
	<footer>
		<div class="footer">This Page Was Design By Leonardo Abreu</div>
	</footer>
</body>
</html>