<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
</head>
<body>
	<header>
			{% if user%}
		    <div><a href="/logout">Logout({{user}})</a></div>
		   	{% else %}
			<div><a href="/login">Log In</a>|<a href="/signup">Sign Up</a></div></div>
    		{% endif %}
		<div>
			<h1>Main Page</h1>
		</div>
		<nav>
			<ul>
				<li><a href="/">Main Page</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<p>{{content}}</p>
		
	</section>
	<footer>
		
	</footer>
</body>
</html>